<div class="container">
  <div class="ui-g">
      <form autocomplete="false">

            <div class="ui-g-12">
              <h2>Pesquisa de Vendas</h2>
            </div>

            <div class="ui-g-8 ui-fluid">
              <label>Descricão</label>
              <input pInputText type="text" name="descricao">
            </div>

            <button pButton type="submit" label="Pesquisar"></button>

      </form>
  </div>

  <div align="center">
      <h3>Vendas Registradas</h3>
  </div>

  <div class="ui-g">
      <div class="ui-g-12">
        <p-table>

        <ng-template pTemplate="header">
          <tr>
            <th>Descricao Venda</th>
            <th>Nome Cliente</th>
            <th>CPF Cliente</th>
            <th>Nome Vendedor</th>
            <th>Total</th>
            <th>Acões</th>
          </tr>
        </ng-template>

        <ng-template pTemplate="body">
          <tr>
            <td>Venda de Perfume</td>
            <td>Assis Pereira</td>
            <td>068.152.956.52</td>
            <td>Julio Oiveira</td>
            <td>550.00</td>
            <td></td>
            <td class="col-acoes-pessoa">
              <button class="ui-button-warning" pButton icon="fa-pencil"
               pTooltip="Editar" tooltipPosition="top">
              </button>
              <button class="ui-button-danger" pButton icon="fa-trash"
                pTooltip="Excluir" tooltipPosition="top">
              </button>
            </td>
          </tr>
        </ng-template>

        <ng-template pTemplate="emptymessage">
          <tr>
            <td>
              Nenhuma venda encontrada
            </td>
          </tr>
        </ng-template>

        </p-table>
      </div>
    </div>


  <div class="ui-g-12">
      <a class="ui-button-success" icon="fa-plus" routerLink="/vendas/nova" pButton label="Nova Venda"></a>
  </div>
</div>

