
  <div class="container">
      <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

        <div class="ui-g">
          <div class="ui-g-12">
            <h1 align="center">{{ editando ? 'Edição de' : 'Nova' }} Marca</h1>
          </div>

          <div class="ui-g-12 ui-md-12 ui-fluid">
            <label>Nome</label>
            <input pInputText type="text" name="nome"
            [(ngModel)]="marca.nome"
            #nome="ngModel" required minlength="5">

          <app-message [control]="nome" error="required"
            text="Informe o nome da marca"></app-message>
          </div>

          <div class="ui-g-12">
            <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
            <button class="ui-button-warning" pButton type="button" label="Cancelar" (click)="nova(f)" ></button>
            <button pButton type="button" label="marcas" routerLink="/marcas" class="ui-button-success"></button>
          </div>
        </div>

      </form>
    </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <footer class="layout-rodape">
      <div>
        <p>&copy; 2018 ANP Soluções Digitais. Todos os direitos reservados.</p>
      </div>
  </footer>

