<div class="container">
    <div class="ui-g">
        <form autocomplete="false" (ngSubmit)="pesquisar()">

              <div align="center" class="ui-g-12">
                <h1>Pessoas</h1>
              </div>

              <div align="center" class="ui-g-12">
                  <h3>Pessoas Físicas/Juridicas</h3>
              </div>

              <div class="ui-g-12 ui-fluid">
                <label>Nome/Razão Social</label>
                <input pInputText type="text" name="nome"
                [(ngModel)]="filtroPessoa.nome" placeholder="Informe o nome ou razão social para pesquisa">
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label>Tipo Pessoa</label>
                  <input pInputText type="text" name="tipo"
                  [(ngModel)]="filtroPessoa.tipo" placeholder="informe o tipo ex: física / juridica para pesquisa ">
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label>CNPJ/CPF</label>
                  <input pInputText type="text" placeholder="informe o CNPJ/CPF para pesquisa">
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label>Status</label>
                  <input pInputText type="text" name="ativo"
                  [(ngModel)]="filtroPessoa.ativo" placeholder="informe o status para pesquisa">
              </div>

              <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar"></button>
              </div>
        </form>
    </div>

    <div align="center">
        <h3>Pessoas Registradas</h3>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
          <p-dataTable [value]="pessoas"
          [paginator]="true" [rows]="filtroPessoa.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
          [responsive]="true" emptyMessage="Nenhuma pessoa encontrada" #tabela>
              <p-column field="nome" header="Nome/Razão Social"></p-column>
              <p-column field="cidade" header="Cidade"></p-column>
              <p-column field="estado" header="Estado"></p-column>
              <p-column field="tipo" header="Tipo"></p-column>
              <p-column field="ativo" header="Status">
                <ng-template let-pes="rowData" pTemplate="body">
                    <a href="javascript:;" [pTooltip]="pes.ativo ? 'Desativar' : 'Ativar'"
                        tooltipPosition="top" (click)="alternarStatus(pes)">
                      {{ pes.ativo ? 'Ativo' : 'Inativo' }}
                    </a>
                </ng-template>
              </p-column>
              <p-column styleClass="col-acoes">
                <ng-template let-pess="rowData" pTemplate="body">
                  <button class="ui-button-warning" pButton icon="fa-pencil"
                    [routerLink]="['/pessoas', pess.id]" pTooltip="Editar" tooltipPosition="top">
                  </button>
                  <button class="ui-button-danger" pButton icon="fa-trash"
                    pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pess)">
                  </button>
                </ng-template>
              </p-column>
          </p-dataTable>
        </div>
      </div>


    <div class="ui-g-12">
        <a class="ui-button-success" routerLink="/pessoas/nova" pButton label="Nova Pessoa"></a>
    </div>
  </div>
