<div class="container">
    <div class="ui-g">
        <form autocomplete="false" (ngSubmit)="pesquisar()">

              <div align="center" class="ui-g-12">
                <h1>Pessoas</h1>
              </div>

              <div align="center" class="ui-g-12">
                  <h3>Pessoas Físicas/Juridicas</h3>
              </div>

              <div class="ui-g-12 ui-fluid">
                <label>Nome/Razão Social</label>
                <input pInputText type="text" name="nome"
                [(ngModel)]="filtroPessoa.nome" placeholder="Informe o nome ou razão social para pesquisa">
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label>Tipo Pessoa</label>
                  <input pInputText type="text" name="tipo"
                  [(ngModel)]="filtroPessoa.tipo" placeholder="informe o tipo ex: física / juridica para pesquisa ">
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label>CNPJ/CPF</label>
                  <input pInputText type="text" placeholder="informe o CNPJ/CPF para pesquisa">
              </div>

              <div class="ui-g-12 ui-md-4 ui-fluid">
                  <label>Status</label>
                  <input pInputText type="text" name="ativo"
                  [(ngModel)]="filtroPessoa.ativo" placeholder="informe o status para pesquisa">
              </div>

              <div class="ui-g-12">
                <button pButton type="submit" label="Pesquisar"></button>
              </div>
        </form>
    </div>

    <div align="center">
        <h3>Pessoas Registradas</h3>
    </div>

    <div class="ui-g">
        <div class="ui-g-12">
          <p-table [value]="pessoas"
          [paginator]="true" [rows]="filtroPessoa.itensPorPagina"
          [lazy]="true" [totalRecords]="totalRegistros" (onLazyLoad)="aoMudarPagina($event)"
          [responsive]="true" #tabela>

          <ng-template pTemplate="header">
            <tr>
              <th>Nome/Razão Social</th>
              <th>Cidade</th>
              <th>Estado</th>
              <th class="col-tipo-header">Tipo Pessoa</th>
              <th>CPF/CNPJ</th>
              <th class="col-status-header">Status</th>
              <th>Acões</th>
            </tr>
          </ng-template>

          <ng-template pTemplate="body" let-pessoa>
            <tr>
              <td>{{ pessoa.nome }}</td>
              <td>{{ pessoa.endereco.cidade }}</td>
              <td>{{ pessoa.endereco.estado }}</td>
              <td class="col-tipo">{{ pessoa.tipo }}</td>
              <td>{{ pessoa.cnpj }}</td>
              <td class="col-status">
                <a href="javascript:;" [pTooltip]="pessoa.ativo ? 'Desativar' : 'Ativar'"
                   tooltipPosition="top" (click)="alternarStatus(pessoa)">
                   {{ pessoa.ativo ? 'Ativo' : 'Inativo' }}
                </a>
              </td>
              <td class="col-acoes-pessoa">
                <button class="ui-button-warning" pButton icon="fa-pencil"
                  [routerLink]="['/pessoas', pessoa.id]" pTooltip="Editar" tooltipPosition="top">
                </button>
                <button class="ui-button-danger" pButton icon="fa-trash"
                  pTooltip="Excluir" tooltipPosition="top" (click)="confirmarExclusao(pessoa)">
                </button>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage">
            <tr>
              <td>
                Nenhuma pessoa encontrada
              </td>
            </tr>
          </ng-template>

          </p-table>
        </div>
      </div>


    <div class="ui-g-12">
        <a class="ui-button-success" routerLink="/pessoas/nova" pButton label="Nova Pessoa"></a>
    </div>
  </div>
