<nav class="navbar">
  <div class="container">
    <div class="ui-g">
      <div class="ui-g-12">
         <!-- <a title="Menu" class="navbar-toggle" (click)="exibindoMenu = ! exibindoMenu"><i class="fa fa-bars"></i></a> -->
         <a (click)="prepararNovoUsuario()">Cadastre-se</a>
      </div>
    </div>
  </div>

  <p-dialog header="Cadastre-se" [(visible)]="exibindoFormularioCadastroUsuario"
 modal="modal">
 <form #frmUsuario="ngForm">
   <div class="ui-g-12 ui-fluid">
    <label>Email</label>
    <input pInputText type="text"/>
   </div>

   <div class="ui-g-12 ui-fluid">
    <label>Senha</label>
    <input pInputText type="password"/>
   </div>

   <div class="ui-g-12">
      <button pButton type="submit" label="Enviar" (click)="enviarSolicitacao()" [disabled]="frmUsuario.invalid"></button>
   </div>
  </form>

</p-dialog>

  <!--<ul class="navbar-menu" [hidden]="!exibindoMenu">
    <li class="navbar-usuario">{{ authService.jwtPayload?.nome }}</li>
    <li class="navbar-menuitem"><a routerLink="/lancamentos">Lançamentos</a></li>
    <li class="navbar-menuitem"><a routerLink="/pessoas">Pessoas</a></li>
    <li class="navbar-menuitem"><a routerLink="/vendas">Vendas</a></li>
    <li class="navbar-menuitem"><a routerLink="/produtos">Estoque</a></li>
    <li class="navbar-menuitem"><a>Relatórios</a></li>
    <li class="navbar-menuitem"><a routerLink="/dashboard">Dashboard</a></li>
    <li class="navbar-menuitem"><a>Usuários</a></li>
    <li class="navbar-menuitem"><a href="javascript:;" (click)="logout()">Sair</a></li>
  </ul> -->
</nav>

