
<div class="container">
  <form autocomplete="off" (keyup.enter)="salvar()" [formGroup]="formulario">

    <div class="ui-g">
      <div class="ui-g-12">
        <h1>{{ editando ? 'Edição de' : 'Cadastro de' }} Produto</h1>
      </div>

      <div class="ui-g-12 ui-md-5 ui-fluid">
        <label>Co.Barras</label>
        <input style="width:160px;height:28px" pInputText type="text" name="codigoBarras"
        formControlName="codigoBarras">
        <button>Gerar</button>

        <app-message [control]="formulario.get('codigoBarras')" error="obrigatoriedade"
          text="Informe o codigo de barras (obrigatória)"></app-message>
      </div>


      <div class="ui-g-12 ui-md-12 ui-fluid">
        <label>Descrição</label>
        <input style="width:300px;height:28px" pInputText type="text" name="descricao"
        formControlName="descricao">

        <app-message [control]="formulario.get('descricao')" error="obrigatoriedade"
          text="Informe a descrição (obrigatória)"></app-message>
        <app-message [control]="formulario.get('descricao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('descricao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
      </div>

      <div class=" ui-g-12 ui-md-12 ui-fluid">
        <label>Aplicação</label>
        <input style="width:300px;height:28px" pInputText type="text" name="aplicacao"
        formControlName="aplicacao">

        <app-message [control]="formulario.get('aplicacao')" error="obrigatoriedade"
          text="Informe a aplicacao (obrigatória)"></app-message>
        <app-message [control]="formulario.get('aplicacao')" error="tamanhoMinimo"
          text="Mínimo de {{ formulario.get('aplicacao').errors?.tamanhoMinimo?.tamanho }} caracteres"></app-message>
      </div>

      <div style="width:200px;height:28px" class="ui-g-12 ui-md-3 ui-fluid" formGroupName="classe">
        <label (click)="prepararNovaClasse()">Classe</label>
        <p-dropdown name="classe" [options]="classes" [filter]="true"
          placeholder="Selecione" [autoWidth]="false"
          formControlName="id"></p-dropdown>
      </div>

      <div style="width:200px;height:28px" class="ui-g-12 ui-md-3 ui-fluid" formGroupName="marca">
        <label (click)="prepararNovaMarca()">Marca</label>
        <p-dropdown name="marca" [options]="marcas" [filter]="true"
          placeholder="Selecione" [autoWidth]="false"
          formControlName="id"></p-dropdown>
      </div>

      <div style="width:200px;height:28px" class="ui-g-12 ui-md-3 ui-fluid" formGroupName="grupo">
        <label  (click)="prepararNovoGrupo()">Grupo</label>
        <p-dropdown name="grupo" [options]="grupos" [filter]="true"
          placeholder="Selecione" [autoWidth]="false"
          formControlName="id"></p-dropdown>
      </div>

      <div  class="ui-g-12 ui-md-3 ui-fluid" formGroupName="subGrupo">
        <label (click)="prepararNovoSubgrupo()">Subgrupo</label>
        <p-dropdown name="subGrupo" [options]="subGrupos" [filter]="true"
          placeholder="Selecione" [autoWidth]="false"
          formControlName="id"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estoque Minimo</label>
        <input  pInputText type="text" name="estoqueMinimo" placeholder="0"
          formControlName="estoqueMinimo">
      </div>

      <div class="ui-g-12 ui-md-3 ui-fluid">
        <label>Estoque Máximo</label>
        <input pInputText type="text" name="estoqueMaximo" placeholder="0"
          formControlName="estoqueMaximo">
      </div>

      <div style="width:200px;height:28px" class="ui-g-12 ui-md-3 ui-fluid" formGroupName="unidadeMedida">
        <label>Unidade Medida</label>
        <p-dropdown name="unidadeMedida" [options]="unidadesMedida" placeholder="Selecione"
        [autoWidth]="false" [filter]="true"
        formControlName="id"></p-dropdown>
      </div>

      <div style="width:200px;height:28px"class="ui-g-12 ui-md-3 ui-fluid" formGroupName="tipo">
        <label>Tipo de Estoque</label>
        <p-dropdown name="tipo" [options]="tipos" placeholder="Selecione"
        [autoWidth]="false" [filter]="true"
        formControlName="id"></p-dropdown>
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Valor Unitario</label>
        <input pInputText type="text" name="valorUnitario" placeholder="0,00"
          formControlName="valorUnitario">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Custo Médio</label>
        <input [disabled]="true" pInputText type="text" name="custoMedio" placeholder="0,00"
          formControlName="custoMedio">
      </div>

      <div class="ui-g-12 ui-md-2 ui-fluid">
        <label>Ultimo Custo</label>
        <input pInputText type="text" name="ultimoCusto" placeholder="0,00"
          formControlName="ultimoCusto">
      </div>

      <!--<div class="ui-g-12">
        <p-panel header="Fornecedores Produto">
          <div class="ui-g">
            <div class="ui-g-12">
              <button pButton label="Novo" icon="fa-plus" type="button"
               class="ui-button-success" (click)="prepararNovoFornecedor()"></button>
            </div>
            <div class="ui-g-12">
              <p-table [value]="produto.fornecedores" [responsive]="true">
                <ng-template pTemplate="header">
                  <tr>
                    <th>Nome</th>
                    <th>CNPJ</th>
                    <th>Email</th>
                    <th>Telefone</th>
                    <th class="col-acoes-header">Ações</th>
                  </tr>
                </ng-template>

                <ng-template pTemplate="body" let-fornecedor let-rowIndex="rowIndex">
                  <tr>
                    <td>{{fornecedor.nome}}</td>
                    <td>{{fornecedor.cnpj}}</td>
                    <td>{{fornecedor.email}}</td>
                    <td>{{fornecedor.telefone}}</td>
                    <td class="col-acoes">
                      <button class="ui-button-warning" pButton icon="fa-pencil" type="button"
                      pTooltip="Editar" tooltipPosition="top"
                      (click)="prepararEdicaoFornecedor(fornecedor, rowIndex)"></button>

                      <button class="ui-button-danger" pButton icon="fa-trash" type="button"
                      pTooltip="Excluir" tooltipPosition="top"
                      (click)="confirmarExclusao(rowIndex)"></button>
                    </td>
                  </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                  <tr>
                    <td colspan="4">
                      Nenhum Fornecedor Cadastrado
                    </td>
                  </tr>
                </ng-template>
              </p-table>
            </div>
          </div>
        </p-panel>
      </div> -->

      <div class="ui-g-12">
        <button pButton type="submit" label="Salvar" [disabled]="formulario.invalid"></button>
        <button class="ui-button-warning" pButton type="submit" label="Cancelar" (click)="novo()"></button>
        <button class="ui-button-danger"  pButton type="button" routerLink="/produtos" label="Sair"></button>
      </div>
    </div>

  </form>
</div>
<br>
<br>
<footer class="layout-rodape">
    <div>
      <p>&copy; 2018 ANP Soluções Digitais. Todos os direitos reservados.</p>
    </div>
</footer>

<!--<p-dialog header="Novo Fornecedor" [(visible)]="exibindoFormularioFornecedor"
 modal="modal" *ngIf="fornecedor">
 <form #frmFornecedor="ngForm" (ngSubmit)="confirmarFornecedor(frmFornecedor)">
   <div class="ui-g-12 ui-fluid">
     <label>Nome/Razão Social</label>
     <input pInputText type="text" name="nome"
     required [(ngModel)]="fornecedor.nome" #fornecedorNome="ngModel"/>

     <app-message [control]="fornecedorNome" error="required" text="Informe o nome"></app-message>
   </div>

   <div class="ui-g-12 ui-fluid">
      <label>CNPJ</label>
      <input pInputText type="text" name="cnpj"
      required [(ngModel)]="fornecedor.cnpj" #fornecedorcnpj="ngModel"/>

      <app-message [control]="fornecedorcnpj" error="required" text="Informe o cnpj"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
        <label>Email</label>
        <input pInputText type="text" name="email"
        required email [(ngModel)]="fornecedor.email" #fornecedorEmail="ngModel"/>

        <app-message [control]="fornecedorEmail" error="required" text="Informe o email"></app-message>
        <app-message [control]="fornecedorEmail" error="email" text="Informe um e-mail valido"></app-message>
    </div>

    <div class="ui-g-12 ui-fluid">
        <label>Telefone</label>

        <p-inputMask name="telefone" [(ngModel)]="fornecedor.telefone"
        mask="(99) 99999-999?9"></p-inputMask>
    </div>

    <div class="ui-g-12">
      <button pButton type="submit" label="confirmar" [disabled]="frmFornecedor.invalid"></button>
    </div>
 </form>
</p-dialog> -->

<p-dialog header="Nova Classe" [(visible)]="exibindoFormularioClasse"
 modal="modal" *ngIf="classe">
 <form #frmClasse="ngForm" (ngSubmit)="adicionarClasse(frmClasse)">
   <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text" name="nome"
    required [(ngModel)]="classe.nome" #nome="ngModel"/>

    <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
   </div>

   <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="frmClasse.invalid"></button>
   </div>
  </form>

</p-dialog>

<p-dialog header="Nova Marca" [(visible)]="exibindoFormularioMarca"
 modal="modal" *ngIf="marca">
 <form #frmMarca="ngForm" (ngSubmit)="adicionarMarca(frmMarca)">
   <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text" name="nome"
    required [(ngModel)]="marca.nome" #nome="ngModel"/>

    <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
   </div>

   <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="frmMarca.invalid"></button>
   </div>
  </form>

</p-dialog>

<p-dialog header="Novo Grupo" [(visible)]="exibindoFormularioGrupo"
 modal="modal" *ngIf="grupo">
 <form #frmGrupo="ngForm" (ngSubmit)="adicionarGrupo(frmGrupo)">
   <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text" name="nome"
    required [(ngModel)]="grupo.nome" #nome="ngModel"/>

    <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
   </div>

   <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="frmGrupo.invalid"></button>
   </div>
  </form>

</p-dialog>

<p-dialog header="Novo Subgrupo" [(visible)]="exibindoFormularioSubgrupo"
 modal="modal" *ngIf="subGrupo">
 <form #frmSubgrupo="ngForm" (ngSubmit)="adicionarSubgrupo(frmSubgrupo)">
   <div class="ui-g-12 ui-fluid">
    <label>Nome</label>
    <input pInputText type="text" name="nome"
    required [(ngModel)]="subGrupo.nome" #nome="ngModel"/>

    <app-message [control]="nome" error="required" text="Informe o nome"></app-message>
   </div>

   <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="frmSubgrupo.invalid"></button>
   </div>
  </form>

</p-dialog>
