.layout-rodape {
  padding: 47px 0;

  background-color: #3de13d;

  color: #fff;
  text-align: center;
}

input[type=text] {
  background-color: #d3d3d3;
  }

p-inputMask[type=text] {
  background-color: #d3d3d3;
}


