
  <div class="container">
    <form #f="ngForm" autocomplete="off" (ngSubmit)="salvar(f)">

      <div class="ui-g">
        <div class="ui-g-12">
          <h1 align="center">{{ editando ? 'Edição de' : 'Nova' }} Pessoa</h1>
        </div>

        <div class="ui-g-12" align="center">
            <label>{{tipo.value === 'FISICA' ? 'Pessoa Física' : 'Pessoa Juridica'}}</label>
        </div>

        <div class="ui-g-12">
          <p-selectButton name="tipo" [options]="tipos" #tipo
          [(ngModel)]="pessoa.tipo"></p-selectButton>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome/Razão Social</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="pessoa.nome"
            #nome="ngModel" required minlength="5" placeholder="Informe o nome ou razão social">

          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>{{tipo.value === 'FISICA' ? 'CPF' : 'CNPJ'}}</label>
          <input pInputText type="text" name="cnpj"
          [(ngModel)]="pessoa.cnpj">
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Email</label>
          <input pInputText type="text" name="email"
            [(ngModel)]="pessoa.email"
            #email="ngModel" required minlength="15" placeholder="Informe o email">

          <app-message [control]="email" error="required"
          text="Informe o email"></app-message>
          <app-message [control]="email" error="minlength"
          text="Mínimo de {{ email.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" name="logradouro"
            [(ngModel)]="pessoa.endereco.logradouro"
            #logradouro="ngModel" required minlength="5" placeholder="Informe o logradouro">

          <app-message [control]="logradouro" error="required"
            text="Informe o logradouro"></app-message>
            <app-message [control]="logradouro" error="minlength"
            text="Mínimo de {{ logradouro.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" name="numero"
            [(ngModel)]="pessoa.endereco.numero"
            #numero="ngModel" required minlength="2" placeholder="Informe o numero">

          <app-message [control]="numero" error="required"
            text="Informe o número"></app-message>
            <app-message [control]="numero" error="minlength"
            text="Mínimo de {{ numero.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" name="complemento"
          [(ngModel)]="pessoa.endereco.complemento" placeholder="Informe o complemento">
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" name="bairro"
            [(ngModel)]="pessoa.endereco.bairro"
            #bairro="ngModel" required minlength="5" placeholder="Informe o bairro">

          <app-message [control]="bairro" error="required"
            text="Informe o bairro"></app-message>
            <app-message [control]="bairro" error="minlength"
            text="Mínimo de {{ bairro.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask name="cep" mask="99.999-999"
            [(ngModel)]="pessoa.endereco.cep"
            #cep="ngModel" required></p-inputMask>

          <app-message [control]="cep" error="required"
            text="Informe o CEP"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>
          <input pInputText type="text" name="cidade"
            [(ngModel)]="pessoa.endereco.cidade"
            #cidade="ngModel" required>

            <app-message [control]="cidade" error="required"
            text="Informe a cidade"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>
          <input pInputText type="text" name="estado"
            [(ngModel)]="pessoa.endereco.estado"
            #estado="ngModel" required>

            <app-message [control]="estado" error="required"
            text="Informe o estado"></app-message>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button class="ui-button-warning" pButton type="button" label="Cancelar" (click)="nova(f)" ></button>
          <button pButton type="button" label="Pessoas" routerLink="/pessoas" class="ui-button-success"></button>
        </div>
      </div>

    </form>
  </div>
  <br>
<br>
<footer class="layout-rodape">
    <div>
      <p>&copy; 2018 ANP Soluções Digitais. Todos os direitos reservados.</p>
    </div>
</footer>
