
  <div class="container">
    <form #f="ngForm" autocomplete="off" (keyup.enter)="salvar(f)">

      <div class="ui-g">
        <div class="ui-g-12">
          <h1>{{ editando ? 'Edição de' : 'Cadastro de' }} Pessoa</h1>
        </div>

        <div class="ui-g-12">
          <p-selectButton name="tipo" [options]="tipos" #tipo
          [(ngModel)]="pessoa.tipo"></p-selectButton>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Nome/Razão Social</label>
          <input pInputText type="text" name="nome"
            [(ngModel)]="pessoa.nome"
            #nome="ngModel" required minlength="5" placeholder="Informe o nome ou razão social">

          <app-message [control]="nome" error="required"
            text="Informe o nome"></app-message>
          <app-message [control]="nome" error="minlength"
            text="Mínimo de {{ nome.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>{{tipo.value === 'FISICA' ? 'CPF' : 'CNPJ'}}</label>
          <input pInputText type="text" name="cnpj"
          [(ngModel)]="pessoa.cnpj">
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Email</label>
          <input pInputText type="text" name="email"
            [(ngModel)]="pessoa.email"
            #email="ngModel" required minlength="15" placeholder="Informe o email">

          <app-message [control]="email" error="required"
          text="Informe o email"></app-message>
          <app-message [control]="email" error="minlength"
          text="Mínimo de {{ email.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-9 ui-fluid">
          <label>Logradouro</label>
          <input pInputText type="text" name="logradouro"
            [(ngModel)]="pessoa.endereco.logradouro"
            #logradouro="ngModel" required minlength="5" placeholder="Informe o logradouro">

          <app-message [control]="logradouro" error="required"
            text="Informe o logradouro"></app-message>
            <app-message [control]="logradouro" error="minlength"
            text="Mínimo de {{ logradouro.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-3 ui-fluid">
          <label>Número</label>
          <input pInputText type="text" name="numero"
            [(ngModel)]="pessoa.endereco.numero"
            #numero="ngModel" required minlength="2" placeholder="Informe o numero">

          <app-message [control]="numero" error="required"
            text="Informe o número"></app-message>
            <app-message [control]="numero" error="minlength"
            text="Mínimo de {{ numero.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Complemento</label>
          <input pInputText type="text" name="complemento"
          [(ngModel)]="pessoa.endereco.complemento" placeholder="Informe o complemento">
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>Bairro</label>
          <input pInputText type="text" name="bairro"
            [(ngModel)]="pessoa.endereco.bairro"
            #bairro="ngModel" required minlength="5" placeholder="Informe o bairro">

          <app-message [control]="bairro" error="required"
            text="Informe o bairro"></app-message>
            <app-message [control]="bairro" error="minlength"
            text="Mínimo de {{ bairro.errors?.minlength?.actualLength }} caracteres"></app-message>
        </div>

        <div class="ui-g-12 ui-md-4 ui-fluid">
          <label>CEP</label>
          <p-inputMask name="cep" mask="99.999-999"
            [(ngModel)]="pessoa.endereco.cep"
            #cep="ngModel" required></p-inputMask>

          <app-message [control]="cep" error="required"
            text="Informe o CEP"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Estado</label>
          <p-dropdown placeholder="Selecione" [autoWidth]="false"
            [filter]="true" [options]="estados"
            [(ngModel)]="estadoSelecionado" name="estadoSelecionado"
            (onChange)="carregarCidades()"
            #estado="ngModel" required></p-dropdown>


          <app-message [control]="estado" error="required"
          text="Informe o estado"></app-message>
        </div>

        <div class="ui-g-12 ui-md-6 ui-fluid">
          <label>Cidade</label>
          <p-dropdown placeholder="Selecione" [autoWidth]="false"
            [filter]="true" [options]="cidades"
            [(ngModel)]="pessoa.endereco.cidade.id" name="cidade"
            #cidade="ngModel" required></p-dropdown>


          <app-message [control]="cidade" error="required"
          text="Informe a cidade"></app-message>
        </div>

        <div class="ui-g-12">
          <p-panel header="Contatos Pessoa Fisica/Juridica">
            <div class="ui-g">
              <div class="ui-g-12">
                <button pButton label="Novo" icon="fa-plus" type="button"
                 class="ui-button-success" (click)="prepararNovoContato()"></button>
              </div>
              <div class="ui-g-12">
                <p-table [value]="pessoa.contatos" [responsive]="true">
                  <ng-template pTemplate="header">
                    <tr>
                      <th>Email</th>
                      <th>Telefone</th>
                      <th class="col-acoes-header">Ações</th>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="body" let-contato let-rowIndex="rowIndex">
                    <tr>
                      <td>{{contato.email}}</td>
                      <td>{{contato.telefone}}</td>
                      <td class="col-acoes">
                        <button class="ui-button-warning" pButton icon="fa-pencil" type="button"
                        pTooltip="Editar" tooltipPosition="top"
                        (click)="prepararEdicaoContato(contato, rowIndex)"></button>

                        <button class="ui-button-danger" pButton icon="fa-trash" type="button"
                        pTooltip="Excluir" tooltipPosition="top"
                        (click)="confirmarExclusao(rowIndex)"></button>
                      </td>
                    </tr>
                  </ng-template>

                  <ng-template pTemplate="emptymessage">
                    <tr>
                      <td colspan="4">
                        Nenhum Contato Cadastrado
                      </td>
                    </tr>
                  </ng-template>
                </p-table>
              </div>
            </div>
          </p-panel>
        </div>

        <div class="ui-g-12">
          <button pButton type="submit" label="Salvar" [disabled]="f.invalid"></button>
          <button class="ui-button-warning" pButton type="button" label="Cancelar" (click)="nova(f)" ></button>
          <button pButton type="button" label="Sair" routerLink="/pessoas" class="ui-button-danger"></button>
        </div>
      </div>

    </form>
  </div>
  <br>
<br>
<footer class="layout-rodape">
    <div>
      <p>&copy; 2018 ANP Soluções Digitais. Todos os direitos reservados.</p>
    </div>
</footer>

<p-dialog header="Novo Contato" [(visible)]="exibindoFormularioContato"
 modal="modal"  *ngIf="contato">
 <form #frmContato="ngForm" (ngSubmit)="confirmarContato(frmContato)">
  <div class="ui-g-12 ui-fluid">
    <label>E-mail</label>

    <input pInputText type="email" name="email"
      required email [(ngModel)]="contato.email" #contatoEmail="ngModel"/>

    <app-message [control]="contatoEmail" error="required" text="Informe o email"></app-message>
    <app-message [control]="contatoEmail" error="email" text="Informe um e-mail válido"></app-message>
  </div>

  <div class="ui-g-12 ui-fluid">
      <label>Telefone</label>

      <p-inputMask name="telefone" [(ngModel)]="contato.telefone"
        mask="(99) 99999-999?9"></p-inputMask>
  </div>

   <div class="ui-g-12">
      <button pButton type="submit" label="Salvar" [disabled]="frmContato.invalid"></button>
   </div>
  </form>

</p-dialog>



